{{ $RelPermalink := split (strings.TrimRight "/" .RelPermalink) "/" }}
{{ $lastElement := index $RelPermalink (sub (len $RelPermalink) 1) }}
{{ $combinedPath := site.BaseURL }}
<ul class="breadcrumb">
  {{ range $RelPermalink }}
    {{ $currentPath := printf "%s%s" $combinedPath . }}
    {{ $currentHref := printf "%s/%s/" $combinedPath . }}
    {{ $prettyElem := replace . "-" " " | title }}
    {{/*  $combinedPath points to home  */}}
    {{ if (eq $currentPath site.BaseURL) }}
      <li><a href="{{ site.BaseURL }}">Home</a></li>
    {{/*  $combinedPath doesn't point to home  */}}
    {{ else }}
      {{ if not (eq . $lastElement) }}
        <li><a href="{{ $currentHref }}">{{ $prettyElem }}</a></li>
      {{ else }}
        <li>{{ $prettyElem }}</li>
      {{ end }}
      {{ $combinedPath = $currentPath }}
    {{ end}}
  {{ end }}
</ul>
