{{ $RelPermalink := split .RelPermalink "/" }}
{{ $lastElement := index $RelPermalink (sub (len $RelPermalink) 2) }}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  {{ $currentPath := "/" }}
  {{ range $RelPermalink }}
    {{ $elem := . }}
    {{ $prettyElem := replace $elem "-" " " | title }}
    {{ if not (eq $elem "") }}
      {{ if not (eq $elem $lastElement) }}
        {{ $currentPath = printf "%s%s%s" $currentPath $elem "/" }}
        <li><a href="{{ $currentPath }}">{{ $prettyElem }}</a></li>
      {{ else }}
        <li>{{ $prettyElem }}</li>
      {{ end }}
    {{ end }}
  {{ end }}
</ul>
