{{ $RelPermalink := split .RelPermalink "/" }}
<nav>
  <div>
    <h2 class="clickable" onclick="window.location.href='/'"><b>Harvey Prom's Website</b></h2>
  </div>
  <div>
    <ul>
      {{ range site.Menus.main }}
        {{ $aTagClass := "" }}
        {{ if (eq (index $RelPermalink 1) (trim .PageRef "/")) }}
          {{ $aTagClass = printf "%s%s" $aTagClass "active" }}
        {{ end }}
        <li><a href="{{ .PageRef }}" class="{{ $aTagClass }}"><b>{{ .Name }}</b></a></li>
      {{ end }}
    </ul>
  </div>
</nav>